<h1>Xóa sản phẩm</h1>
<p>Bạn có chắc chắn muốn xóa sản phẩm "{{Product.ProName}}" không?</p>
<form action="/admin/product/delete" method="POST" role="form">
    <!-- Trường ẩn chứa ID của sản phẩm -->
    <input type="hidden" name="ProductID" value="{{Product.ProductID}}">
    <!-- Nút xác nhận xóa -->
    <button type="submit" class="btn btn-danger">Xóa sản phẩm</button>
</form>
